body {
    /*background-image: url(https://i.ibb.co/YyWD79D/rick-morty.jpg);
    background-color: #27401D;
    background-attachment: fixed;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    font-family: 'Roboto', sans-serif;
}

#startPage {
    min-height: 100vh;
    background: blue;
    text-align: center;
}

#characterPage {
    min-height: 100vh;
    background: rgb(255, 0, 140);
}

#ButtonStart {
    width: 200px;
    height: 200px;
    font-size: 24px;
    border-radius: 50%;
    justify-content: flex-end;
}

.searchBtn {
    height: 2em;
    width: 2em;
    justify-content: flex-end;
}

.abc {
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    font-size: 1.5em;
}

#abc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.abc:hover {
    color: fuchsia;
    cursor: pointer;
}

#characterPage {
    display: none;
}

#buttons {
    display: none;
}


/*
.titles {
    font-size: 2em;
    color: #27401D;
    text-align: center;
    background-color: #F2BEA0;
    background-blend-mode: lighten;
}

#about {
    font-size: 1em;
    color: #F1E346;
    text-align: center;
    background-color: #27401D;
}
*/

.strtBtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}

.container {
    position: absolute;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    opacity: 0;
    transition: .8s ease;
    background-color: #8DC042;
}

.container:hover .overlay {
    opacity: .9;
}

.text {
    color: black;
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#buttonStrt {
    margin: auto;
    width: 50%;
    position: relative;
    right: 12em;
    left: 12em;
    display: block;
}

#startPage {
    min-height: 100vh;
}

#characterGrid {
    display: grid;
    grid-template-columns: auto auto;
    background: rgba(241, 227, 70, 0.5);
    padding: 10px;
    grid-gap: 1em;
    margin: auto;
    right: 12em;
}

.gridItem {
    background-color: #8DC042;
    border: 1px solid white;
    padding: 20px;
    display: block;
    text-align: center;
    font-size: 1em;
    position: relative;
    overflow: scroll;
    background-size: cover;
}

.searchBtn {
    display: flex;
    float: right;
    height: 3em;
    width: 3em;
}

#searchBar {
    display: flex;
    float: right;
    font-size: 1em;
    color: black;
    font-style: italic;
    font-weight: bold;
    font-family: roboto;
    text-transform: capitalize;
    background-color: pink;
    width: 15em;
    height: 2em;
}

#showAll {
    background-color: #8DC042;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}


/*DROPDOWN STYLE*/


/*funcionalidad*/

.multi-level,
.item ul,
.nav input[type="checkbox"] {
    display: none;
}

#menu:checked~.multi-level,
.item input:checked~ul {
    display: block;
}


/*arrow*/

.arrow {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    float: left;
    z-index: 0;
}

.item input+.arrow {
    transform: rotate(-90deg);
    transition: 0.1s;
}

.item input:checked+.arrow {
    transform: rotate(0deg);
    transition: 0.1s;
}

.eyes {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    float: left;
    z-index: 0;
}

.item input+.eyes {
    transform: rotate(0deg);
    transition: 0.1s;
}

.item input:checked+.eyes {
    transform: rotate(-90deg);
    transition: 0.1s;
}


/*styles*/

label:hover {
    cursor: pointer;
}

label {
    width: 100%;
    display: block;
    z-index: 3;
    position: relative;
}

.nav {
    width: auto;
    background-color: lightcyan;
    overflow-x: hidden;
    border-bottom: 1px solid #CFD8DC;
}

#nav-icon {
    font-size: 28px;
    line-height: 50px;
    padding-left: 1em;
    color: white;
    background-color: lightcoral;
}

.nav ul,
.nav li,
label {
    line-height: 50px;
    margin: 0;
    padding: 0 2em;
    list-style: none;
    text-decoration: none;
    color: #90A4AE;
    font-weight: 100;
    width: 100%;
}

.item ul {
    padding: 0 0.25em;
}

.nav li a {
    line-height: 50px;
    margin: 0;
    padding: 0 1em;
    list-style: none;
    text-decoration: none;
    color: black;
    font-weight: 100;
}